{% extends "./base.html.twig" %}

{% block body %}

    <div>
        <h1>Projets</h1>

            {% for p in projects %}

        <ul>
            <li>{{ p.name }}</li>
            <li>{{ p.id }}</li>
        </ul>
            {% endfor %}


    </div>

{% endblock %}