{% extends 'base.html.twig' %}

{% block title %}Hello ProjectTeamController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% for t in team %}
    <ul>
        <li> {{ t.name }}</li>
    </ul>
    {% endfor %}
    {% for p in project %}
    <ul>
        <li> {{ p.name }}</li>
    </ul>
    {% endfor %}

</div>
{% endblock %}
